@import "../../sass/variables";
@import "../../sass/mixins";

.stats-container {
  @include view-container;

  .no-smoking {
    @include no-smoking-img-mini;
  }

  .title {
    @include title;
    margin-bottom: 0;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }

  .stats {
    margin-top: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    @include mQ(322px) {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
  }

  .main-stat {
    @include input-field;
    margin-top: 0;
  }

  .nav-buttons {
    @include nav-buttons;
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    @include mQ(322px) {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    @include mQ-regular-phone(377px) {
      -webkit-transform: translateY(76px);
              transform: translateY(76px);
    }

    button {
      @include mini-button;
      width: 20%;
    }
  }
}
