@import "../../sass/variables";
@import "../../sass/mixins";

.stats-container {
  @include view-container;
  .no-smoking {
    @include no-smoking-img-mini;
  }
  .title {
    @include title;
    margin-bottom: 0;
    transform: translateY(-55px);
  }
  .stats {
    margin-top: 0;
    transform: translateY(-30px);
  }
  .main-stat {
    @include input-field;
    margin-top: 0;
    display: block;
    text-align: center;
    padding: 10px;
  }
  .nav-buttons {
    display: flex;
    justify-content: space-evenly;
    transform: translateY(-25px);
    button {
      @include mini-button;
      width: 20%;
    }
  }
}
