<div class="stats-container">
  <a routerLink="/home"><img class="no-smoking" src="../../assets/img/no-smoking.png" alt="no smoking sign"></a>
  <p class="title">Stats</p>
  <div class="stats">
    <p class="main-stat-title">By Not Smoking:</p>
    <p class="main-stat" id="days">7,092 cigarettes</p>
    <p class="main-stat-title">I Have Saved:</p>
    <p class="main-stat" id="cigarettes">$2,364.00</p>
    <p class="main-stat-title" id="money">And not spent:</p>
    <p class="main-stat" id="days">$2364.00</p>
    <p class="main-stat-title" id="time">And Saved:</p>
    <p class="main-stat" id="days">85,104 minutes</p>
  </div>
  <div class="nav-buttons">
    <button><a routerLink="/time">Time</a></button>
    <button><a routerLink="/stats">Stats</a></button>
    <button><a routerLink="/health">Health</a></button>
    <button><a routerLink="/share">Share</a></button>
  </div>
</div>
