<div class="sign-in-content">
  <h1 class="sign-in-title">Welcome</h1>
  <img class="nosmoking" src="../../assets/img/no-smoking.png" alt="image of no smoking sign">
  <div class="input-field">
    <img src="../../assets/img/username.png" alt="">
    <p>User Name</p>
  </div>
  <div class="input-field">
    <img src="../../assets/img/username.png" alt="">
    <p>Password</p>
  </div>
  <div class="input-field">
    <img src="../../assets/img/username.png" alt="">
    <p>Varify Password</p>
  </div>
  <button class="mini-button">Next</button>
</div>
