@import "keyframes";

@mixin title {
  margin: 40px auto 20px auto;
  font-size: 36px;
  animation-name: spinny, opacity;
  animation-duration: 1s;
  animation-timing-function: linear;
  z-index: 999;

}

@mixin no-smoking-img {
  display: block;
  margin: 20px auto 0 auto;
  width: 50%;
}

@mixin no-smoking-img-mini {
  display: block;
  margin-left: 10px;
  width: 20%;
}

@mixin mini-button {
  color: red;
  width: 30%;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid $accent-color;
  border-radius: 20px;
  margin: 10px auto;
  background-color: orange;
  &:hover {
    cursor: pointer;
    background-color: snow;
    text-decoration: underline;
    animation-name: hover-color;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
}

@mixin input-field {
  align-items: center;
  width: 65%;
  height: 40px;
  background-color: snow;
  border: 2px solid orange;
  margin: 15px auto 10px auto;
  border-radius: 5px;
  text-align: center;
  display: block;
  text-align: center;
  padding: 8px;
}

@mixin big-button {
  color: red;
  width: 50%;
  height: 40px;
  background-color: orange;
  border: 2px solid $accent-color;
  border-radius: 20px;
  margin: 10px auto;
  &:hover {
    cursor: pointer;
    background-color: snow;
    text-decoration: underline;
    animation-name: hover-color;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
}

@mixin view-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@mixin nav-buttons {
  display: flex;
  justify-content: space-evenly;
  background-color: $background-color;
  z-index: 999;
}

@mixin paragraph-styles {
  padding: 15px;
  background-color: snow;
  border-radius: 5px;
}

@mixin mQ($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}
