@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.wrapper {
  background-color: $background-color;
  border: 6px solid $accent-color;
  width: 320px;
  height: 586px;
}
