@import "../../sass/variables";
@import "../../sass/mixins";

.view-container {
  @include view-container;

  .no-smoking {
    @include no-smoking-img-mini;
  }

  .title {
    @include title;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }

  .about {
    @include paragraph-styles;
    margin: 10px;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }

  .nav-buttons {
    @include nav-buttons;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);

    button {
      @include mini-button;
      width: 20%;
      -webkit-transform: translateY(3px);
              transform: translateY(3px);
      @include mQ(322px) {
      -webkit-transform: translateY(92px);
              transform: translateY(92px);
      }
      @include mQ-regular-phone(377px) {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
      }
    }
  }
}
