<div class="view-container">
  <img class="no-smoking" src="../../assets/img/no-smoking.png" alt="no smoking sign">
  <p class="title">Smokeless</p>
  <div class="stats">
    <p class="main-stat-title">Over the last:</p>
    <p class="main-stat" id="days">470 days</p>
    <p class="main-stat-title">I would have smoked:</p>
    <p class="main-stat" id="cigarettes">7,092 cigarettes</p>
    <p class="main-stat-title" id="money">And spent:</p>
    <p class="main-stat" id="days">$2364.00</p>
    <p class="main-stat-title" id="time">in:</p>
    <p class="main-stat" id="days">85,104 minutes</p>
  </div>
  <div class="nav-buttons">
    <button><a routerLink="/time">Time</a></button>
    <button><a routerLink="/stats">Stats</a></button>
    <button><a routerLink="/health">Health</a></button>
    <button><a routerLink="/share">Share</a></button>
  </div>
</div>
