<div class="view-container">
  <a routerLink="/home"><img class="no-smoking" src="../../assets/img/no-smoking.png" alt="no smoking sign"></a>
  <p class="title">Share</p>
  <div class="health-bennefit">
    <p><img src="../../assets/img/prof-pic.jpeg" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. . <br><strong>- Joe McKinney</strong></p>
    <p><img src="../../assets/img/prof-pic2.jpeg" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br><strong>- Joe McKinney</strong></p>
    <p><img src="../../assets/img/prof-pic3.jpeg" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  <br><strong>- Joe McKinney</strong> </p>
    <p><img src="../../assets/img/prof-pic4.jpeg" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit  <br><strong>- Joe McKinney</strong> </p>
  </div>
  <div class="nav-buttons">
    <button><a routerLink="/time">Time</a></button>
    <button><a routerLink="/stats">Stats</a></button>
    <button><a routerLink="/health">Health</a></button>
    <button><a routerLink="/share">Share</a></button>
  </div>
</div>
