@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/keyframes";
.view-container {
  font-size: 12px;
  @include view-container;
  .no-smoking {
    @include no-smoking-img-mini;
  }
  .title {
    @include title;
    transform: translateY(-70px);
  }
  .health-bennefit {
    margin: 0 10px;
    text-align: left;
    transform: translateY(-100px);
    @include mQ(322px) {
      transform: translateY(-80px);
    }
    p {
      @include paragraph-styles;
      img {
        width: 20%;
        float: left;
        margin-right: 15px;
      }
    }
  }
  .nav-buttons {
    @include nav-buttons;
    transform: translateY(-131px);
    @include mQ(322px) {
      transform: translateY(-69px);
    }
    button {
      @include mini-button;
      width: 20%;
    }
  }
}
