@import "../../sass/variables";
@import "../../sass/mixins";

.view-container {
  @include view-container;
  .no-smoking {
    @include no-smoking-img-mini;
  }
  .title {
    @include title;
    transform: translateY(-50px);
  }
  .health-bennefit {
    margin: 0 10px;
    text-align: left;
    transform: translateY(-70px);
    p {
      padding: 15px;
      background-color: snow;
      border-radius: 5px;
    }
  }
  .nav-buttons {
    display: flex;
    justify-content: space-evenly;
    transform: translateY(-97px);
    z-index: 999;
    background-color: $background-color;
    button {
      @include mini-button;
      width: 20%;
    }
  }
}
