<div class="view-container">
  <img class="no-smoking" src="../../assets/img/no-smoking.png" alt="no smoking sign">
  <p class="title">Share</p>
  <div class="health-bennefit">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<br><strong>- Joe McKinney</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br><strong>- Joe McKinney</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  <br><strong>- Joe McKinney</strong> </p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur <strong>- Joe McKinney</strong> </p> -->
  </div>
  <div class="nav-buttons">
    <button><a routerLink="/time">Time</a></button>
    <button><a routerLink="/stats">Stats</a></button>
    <button><a routerLink="/health">Health</a></button>
    <button><a routerLink="/share">Share</a></button>
  </div>
</div>
