<ul>
  <li><a routerLink="about">About</a></li>
  <li><a routerLink="health">About</a></li>
  <li><a routerLink="main">About</a></li>
  <li><a routerLink="opening">About</a></li>
  <li><a routerLink="register">About</a></li>
  <li><a routerLink="register-questions">About</a></li>
  <li><a routerLink="share">About</a></li>
  <li><a routerLink="share-detail">About</a></li>
  <li><a routerLink="sign-in">About</a></li>
  <li><a routerLink="stats">About</a></li>
  <li><a routerLink="time">About</a></li>
</ul>
<router-outlet></router-outlet>
