<!-- <ul>
  <li><a routerLink="">OpeningComponent</a></li>
  <li><a routerLink="about">AboutComponent</a></li>
  <li><a routerLink="health">HealthComponent</a></li>
  <li><a routerLink="main">MainComponent</a></li>
  <li><a routerLink="register">RegisterComponent</a></li>
  <li><a routerLink="register-questions">RegisterQuestionsComponent</a></li>
  <li><a routerLink="share">ShareComponent</a></li>
  <li><a routerLink="share-detail">ShareDetailComponent</a></li>
  <li><a routerLink="sign-in">SignInComponent</a></li>
  <li><a routerLink="stats">StatsComponent</a></li>
  <li><a routerLink="time">TimeComponent</a></li>
</ul> -->
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
