<div class="view-container">
  <a routerLink="/home"><img class="no-smoking" src="../../assets/img/no-smoking.png" alt="no smoking sign"></a>
  <p class="title">Today I am:</p>
  <div class="stats">
    <p class="main-stat">1 Year</p>
    <p class="main-stat" id="days">3 Months</p>
    <p class="main-stat">2 Weeks</p>
    <p class="main-stat" id="cigarettes">2 Days</p>
    <p class="main-stat" id="money">14 Hours</p>
    <p class="main-stat" id="days">10 Minutes</p>
    <p class="main-stat" id="days">14 seconds</p>
  </div>
  <div class="nav-buttons">
    <button><a routerLink="/time">Time</a></button>
    <button><a routerLink="/stats">Stats</a></button>
    <button><a routerLink="/health">Health</a></button>
    <button><a routerLink="/share">Share</a></button>
  </div>
</div>
