<div class="view-container">
  <img class="no-smoking" src="../../assets/img/no-smoking.png" alt="no smoking sign">
  <p class="title">Health</p>
  <div class="health-bennefit">
    <p><strong>20 Minutes:</strong> Your blood pressure, pulse rate, and the temperature of your hands and feet has returned to normal. </p>
    <p><strong>20 Minutes:</strong> Your blood pressure, pulse rate, and the temperature of your hands and feet has returned to normal. </p>
    <p><strong>20 Minutes:</strong> Your blood pressure, pulse rate, and the temperature of your hands and feet has returned to normal. </p>
    <p><strong>20 Minutes:</strong> Your blood pressure, pulse rate, and the temperature of your hands and feet has returned to normal. </p>
  </div>
  <div class="nav-buttons">
    <button><a routerLink="/time">Time</a></button>
    <button><a routerLink="/stats">Stats</a></button>
    <button><a routerLink="/health">Health</a></button>
    <button><a routerLink="/share">Share</a></button>
  </div>
</div>
