@import "../../sass/variables";
@import "../../sass/mixins";

.view-container {
  font-size: 12px;
  @include view-container;
  .no-smoking {
    @include no-smoking-img-mini;
  }
  .title {
    @include title;
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  .health-bennefit {
    margin: 0 10px;
    text-align: left;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    @include mQ(322px) {
      -webkit-transform: translateY(-60px);
              transform: translateY(-60px);
    }
    p {
      @include paragraph-styles;
    }
  }
  .nav-buttons {
    @include nav-buttons;
    -webkit-transform: translateY(-71px);
            transform: translateY(-71px);

    @include mQ(322px) {
      -webkit-transform: translateY(-26px);
              transform: translateY(-26px);
    }
    @include mQ-regular-phone(377px) {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    button {
      @include mini-button;
      width: 20%;
    }
  }

}
