@import "../../sass/variables";
@import "../../sass/mixins";

.view-container {
  font-size: 12px;
  @include view-container;
  .no-smoking {
    @include no-smoking-img-mini;
  }
  .title {
    @include title;
    transform: translateY(-65px);
  }
  .health-bennefit {
    margin: 0 10px;
    text-align: left;
    transform: translateY(-80px);
    @include mQ(322px) {
      transform: translateY(-60px);
    }
    p {
      padding: 15px;
      background-color: snow;
      border-radius: 5px;
    }
  }
  .nav-buttons {
    display: flex;
    justify-content: space-evenly;
    transform: translateY(-71px);
    z-index: 999;
    background-color: $background-color;
    @include mQ(322px) {
      transform: translateY(-26px);
    }
    button {
      @include mini-button;
      width: 20%;
    }
  }

}
