<div class="register-questions-content">
  <h1>About you</h1>
  <input type="text" class="register-questions input-field" placeholder="Date You Quit">
  <input type="text" class="register-questions input-field" placeholder="Time of Last Smoke">
  <input type="text" class="register-questions input-field" placeholder="Smokes Per Day">
  <input type="text" class="register-questions input-field" placeholder="Price Per Pack">
  <input type="text" class="register-questions input-field" placeholder="Time per Smoke">
  <input type="text" class="register-questions input-field" placeholder="Time as a Smoker">
  <button class="mini-button">Next</button>
</div>
