@import "../../sass/variables";

.register-questions-content {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    margin-bottom: 5px;
  }
  .input-field {
    display: flex;
    align-items: center;
    width: 70%;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid $accent-color;
    margin: 6px auto 19px auto;
    border-radius: 5px;
    text-align: center;
  }
  .input-field:last-of-type {
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .mini-button {
    display: block;
    width: 30%;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid $accent-color;
    border-radius: 20px;
    margin: 25px auto 35px auto;
  }
}
