@import "../../sass/variables";
@import "../../sass/mixins";

.register-questions-content {
  @include view-container;
  .no-smoking {
    @include no-smoking-img-mini;
  }
  .q-and-a {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  h1 {
    @include title;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .input-field {
    @include input-field;
  }
  .mini-button {
    @include mini-button;
  }
}
