<div class="sign-in-content">
  <h1 class="sign-in-title">Welcome</h1>
  <img class="nosmoking" src="../../assets/img/no-smoking.png" alt="image of no smoking sign">
  <div>
    <input type="text" class="input-field" placeholder="User Name">
  </div>
  <div>
    <input type="text" class="input-field" placeholder="Password">
  </div>
  <div>
      <input type="text" class="input-field" placeholder="Varify Password">
  </div>
  <button routerLink="register-questions" class="mini-button">Next</button>
</div>
