@import "../../sass/variables";
@import "../../sass/mixins";

.sign-in-content {
  text-align: center;
  display: flex;
  flex-direction: column;

  .sign-in-title {
    @include title;
  }

  .nosmoking {
    @include no-smoking-img;
    margin-bottom: 25px;
  }
  .input-field {
    display: flex;
    align-items: center;
    width: 65%;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid $accent-color;
    margin: 15px auto 10px auto;
    border-radius: 5px;
    text-align: center;
  }
  .mini-button {
    @include mini-button;
  }
}
