@import "../../sass/variables";
@import "../../sass/mixins";

.opening-content {
  @include view-container;

  .title {
    @include title;
  }

  .nosmoking {
    @include no-smoking-img;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    transform: translateY(30px);

    .big-button {
      @include big-button;
    }

    .mini-button {
      @include mini-button;
    }
  }
}
