@import "../../sass/variables";
@import "../../sass/mixins";

.opening-content {
  text-align: center;
  display: flex;
  flex-direction: column;

  .title {
    @include title;
  }

  .nosmoking {
    @include no-smoking-img;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    transform: translateY(30px);

    .big-button {
      width: 50%;
      height: 40px;
      background-color: #ffffff;
      border: 1px solid $accent-color;
      border-radius: 20px;
      margin: 10px auto;
      &:hover {
        cursor: pointer;
      }
    }

    .mini-button {
      @include mini-button;
    }
  }
}
